.container {
  padding: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.organization-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-left: 14px; /* Add left padding to create space */
}

.profile-image {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.company-name {
  margin: 0;
}

.bio, .location, .employee-info {
  margin: 4px 0;
  color: gray;
}

.employee-info {
  color: rgb(12, 100, 214);
  cursor: pointer;
}

.section-title {
  color: rgb(10, 10, 14);
  margin-top: 20px;
  margin-bottom: 0; /* Remove space below the section title */
}

.section {
  background-color: #f1f6f7;
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  margin-top: 8px; /* Add a small margin above the section */
}

.employee {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.employee-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.employee-name {
  margin: 0;
  font-weight: bold;
}

.employee-role {
  margin: 0;
  color: gray;
}

.more {
  color: rgb(4, 101, 212);
  cursor: pointer;
  font-weight: bold; /* Make text bold */
  padding-left: 50px;
  padding-top: 5px;
  margin: 4px 0; /* Add some margin for spacing */
}

/* Add More Experts Button */
.add-experts-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: rgb(12, 100, 214);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.add-experts-btn:hover {
  background-color: rgb(12, 100, 214);
}